
.sampul {
    width: 100px;
}

.table > tbody > tr > * {
    vertical-align: middle;
}

body {
    padding-top: 0rem;
}

.bg-background {
    position: absolute;
    margin-top: 0%;
}

#memed {
    text-align: center;
}

.search {
    --input-line: #cccccc;
    --input-text-color: #808080;
    --input-text-hover-color: transparent;
    --input-border-color: #808080;
    --input-border-hover-color: #999999;
    --input-bg-color: #333333;
    --search-max-width: 250px;
    --search-min-width: 150px;
    --border-radius: 5px;
    --transition-cubic-bezier: 150ms cubic-bezier(0.4,0,0.2,1);
  }
  
  .search-box {
    max-width: var(--search-max-width);
    min-width: var(--search-min-width);
    height: 35px;
    border: 1px solid var(--input-border-color);
    border-radius: var(--border-radius);
    padding: 5px 15px;
    background: var(--input-bg-color);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transition: var(--transition-cubic-bezier);
  }
  
  .search-box:hover {
    border-color: var(--input-border-hover-color);
  }
  
  /*Section input*/
  .search-field {
    position: relative;
    width: 100%;
    height: 100%;
    left: -5px;
    border: 0;
  }
  
  .input {
    width: calc(100% - 29px);
    height: 100%;
    border: 0;
    border-color: transparent;
    font-size: 1rem;
    padding-right: 0px;
    color: var(--input-line);
    background: var(--input-bg-color);
    border-right: 2px solid var(--input-border-color);
    outline: none;
  }
  
  .input::-webkit-input-placeholder {
    color: var(--input-text-color);
  }
  
  .input::-moz-input-placeholder {
    color: var(--input-text-color);
  }
  
  .input::-ms-input-placeholder {
    color: var(--input-text-color);
  }
  
  .input:focus::-webkit-input-placeholder {
    color: var(--input-text-hover-color);
  }
  
  .input:focus::-moz-input-placeholder {
    color: var(--input-text-hover-color);
  }
  
  .input:focus::-ms-input-placeholder {
    color: var(--input-text-hover-color);
  }
  
  /*Search button*/
  .search-box-icon {
    width: 52px;
    height: 35px;
    position: absolute;
    top: -8px;
    right: -21px;
    background: transparent;
    border-bottom-right-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    transition: var(--transition-cubic-bezier);
  }
  
  .search-box-icon:hover {
    background: var(--input-border-color);
  }
  
  .btn-icon-content {
    width: 52px;
    height: 35px;
    top: -6px;
    right: -21px;
    background: transparent;
    border: none;
    cursor: pointer;
    border-bottom-right-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    transition: var(--transition-cubic-bezier);
    opacity: .4;
  }
  
  .btn-icon-content:hover {
    opacity: .8;
  }
  
  .search-icon {
    width: 21px;
    height: 21px;
    position: absolute;
    top: 7px;
    right: 15px;
  }

  #card {
    box-sizing: border-box;
    width: 190px;
    height: 254px;
    background: rgba(217, 217, 217, 0.58);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    color: black;
  }
  
  #card:hover {
    border: 1px solid black;
    transform: scale(1.05);
  }
  
  #card:active {
    transform: scale(0.95) rotateZ(1.7deg);
  }

  .tem:hover{
    border: 1px solid black;
    transform: scale(1.05);
  }

  .tem.active{
    border: 1px solid black;
    transform: scale(1.05);
  }

  /* card development */
  .cardContainer {
    width: 200px;
    height: 250px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition-duration: .5s;
    cursor: pointer;
  }
  
  .profileDiv {
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(24, 24, 24);
    transition-duration: .5s;
    color: rgb(155, 155, 155);
    font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
  }
  
  .cardContainer:hover .profileDiv {
    transform: translateX(-25%) translateY(-20%);
    transition-duration: .5s;
  }
  
  .infoDiv {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    z-index: 1;
  }
  
  .nameDiv {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-color: aliceblue;
    font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    gap: 2px;
  }
  
  .name {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 500;
    color: black;
  }
  
  .role {
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-weight: 400;
    color: rgb(48, 48, 48);
    margin-bottom: 5px;
  }
  
  .socialDiv {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(14, 14, 14);
    gap: 25px;
  }
  
  .infoDiv a {
    width: 50%;
  }
  
  .socials {
    width: 100%;
    fill: rgb(14, 14, 14);
  }
  
  #github:hover {
    color: #c9510c;
  }
  
  #instagram:hover {
    color: #d62976;
  }
  
  #facebook:hover {
    color: #3b5998;
  }
  
  #twitter:hover {
    color: #00acee;
  }

  .carousel-item img {
    object-fit: cover; /* Gambar akan diatur sedemikian rupa sehingga selalu tertutupi oleh elemen parentnya tanpa terpotong */
    max-height: 400px; /* Atur tinggi maksimum gambar agar tidak terlalu besar atau kecil */
}


  /* Button */
  /* #delete {
    width: 125px;
    height: 45px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: red;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    background: #e62222;
   }
   
   #delete, #delete span {
    transition: 200ms;
   }
   
   #delete .text {
    transform: translateX(35px);
    color: white;
    font-weight: bold;
   }
   
   #delete .icon {
    position: absolute;
    border-left: 3px solid #ffffff;
    transform: translateX(100px);
    height: 17px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
   }
   
   #delete svg {
    width: 15px;
    fill: #eee;
   }
   
   #delete:hover {
    background: #ff3636;
   }
   
   #delete:hover .text {
    color: transparent;
   }
   
   #delete:hover .icon {
    width: 125px;
    border-left: none;
    transform: translateX(0);
    padding-left: 10px;
   }
   
   #delete:focus {
    outline: none;
   }
   
   #delete:active .icon svg {
    transform: scale(0.8);
   } */